/* CSS för Diagram-undersida */
main {
    h1 {
        text-align: center;
        margin-top: 3em;
    }
    .charts {
        width: 60%;
        margin: 6em auto;
        text-align: center;
        display: block;
    }
}

