@use "../abstracts/variables";

/* Pics */
.bildercontainer {
  width: 100%;
  margin: 5em auto;
  text-align: center;
  .pic {
    width: 200px;
    display: inline-block;
    margin: 2em;
  }
}

img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 20px;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  .specific-color {
    background-color: variables.$darker-color;
    img {
      width: 100%;
      box-shadow: rgb(247, 246, 246) 0px 3px 20px;
    }
    h1, p {
        color: variables.$secondary-color;
    }
  }
}
