$primary-color: blue;
$secondary-color: white;
$ligher-color: lighten(gray, 30%);
$darker-color: darken(gray, 45%);

$updated-primary-color: $primary-color;

/* Ändra header-färg */
@if ($updated-primary-color == blue) {
    $updated-primary-color: black;
} @else {
    $updated-primary-color: red;
}